<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ImgNews - {% block title %}{% endblock %}</title>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- Bootstrap -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static "theme.css" %}" rel="stylesheet">
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-to-top" role="navigation">

            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="../../static/imgLogo.png" class="img-nav-margin" alt="imgNews">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            {% if authenticated %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc3/t1/1459800_10201750836828467_959183656_n.jpg" class="rounded-corners img-nav-margin">
                                <span>Pablo Dorado</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="divider"></li>
                                <li><a href="#">Cerrar sesión</a></li>
                            </ul>
                            {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Iniciar sesión</span>
                                <b class="caret"></b>
                            </a>
                            <form class="dropdown-menu form-horizontal frm" role="form" action="/login" method="post" accept-charset="UTF-8">
                                <div class="form-group frm-g">
                                    <input id="user_username" type="text" name="user[username]" size="30" placeholder="Nombre de usuario" />  
                                </div>
                                <div class="form-group frm-g">
                                    <input id="user_password" type="password" name="user[password]" size="30" placeholder="Contraseña" />
                                </div>
                                <div class="form-group frm-g">
                                    <input id="user_remember_me" type="checkbox" name="user[remember_me]" />
                                    <label class="string optional" for="user_remember_me"> Recordarme</label>
                                </div>
                                <div class="form-group frm-g centered">    
                                    <input class="btn btn-primary btn-large" type="submit" name="commit" value="Iniciar sesión" />
                                </div>
                            </form>
                            {% endif %}
                        </li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->

        </nav>
        
        {% block content %}{% endblock %}

    </body>

</html>